/**
 * Author: Stefan Haack (https://shaack.com)
 * Date: 2025-08-12
 */
.module-7bba0e {
  margin-top: -$main-offset;
  padding: 0;
  width: 100vw;
  height: 100svh;

  .bg-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

    .text-container {
      display: flex;
      align-items: center;

      .text {
        h1 {
          color: white;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 150%;
          color: $gray-500;
        }
      }
    }
  }

  &.mask-studio {
    .mask {
      background-size: cover;
      background-position: left center;
      background-image: url("/assets/local/images/mask-studio.svg");
    }

    .bg-image .text-container {
      align-items: end;
      .text {
        max-width: 500px;
        padding-bottom: 4rem;

        h1 {
          color: black;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 150%;
          color: $gray-500;
        }
      }
    }
  }
}