/**
 * Author: Stefan Haack (https://shaack.com)
 * Date: 2025-08-12
 */
.module-7bba0e {
  margin-top: -$main-offset;
  padding: 0;
  width: 100vw;
  height: 100svh;
  .bg-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    .text-container {
      .text {
        h1 {
          color: $c-white;
        }

        p {
          color: $c-white;
        }
      }
    }
  }
  &.mask-studio {

  }
}