/**
 * Author: Stefan Haack (https://shaack.com)
 * Date: 2024-07-29
 */

.module-0805ef {
  text-align: center;
  padding-top: $section-spacing;
  padding-bottom: 0;
  margin-bottom: -0.25rem;
  h2 {
    line-height: 1.2;
    margin-bottom: 0;
  }
  .subheadline {
    font-size: $font-size-base;
    color: $gray-600;
  }
}