/* architects-daughter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/local/fonts/architects-daughter/architects-daughter-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}