footer {
  background-color: color-mix(in srgb, var(--bs-primary) 90%, black 10%); // CSS native darken
  color: rgba(255, 255, 255, 0.9);
  b, strong {
    color: rgba(255, 255, 255, 1);
  }
  a {
    color: rgba(255, 255, 255, 0.98);
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .footer-top {
    padding: 2rem 0;
  }
  .footer-bottom {
    padding: 1rem 0;
    background-color: color-mix(in srgb, var(--bs-primary) 75%, black 25%); // CSS native darken
  }
}
