/**
 * Author: Stefan Haack (https://shaack.com)
 * Date: 2024-07-23
 */

header {
  background: $light;
  nav.navbar {
    // background-color: wh;
    // border-bottom: 1px solid $gray-300;
    transition: background-color 0.3s;
    .navbar-brand {
      img {
        height: 4rem;
        max-width: 70vw;
        transition: height 0.3s;
      }
    }
    .dropdown-item.active, .dropdown-item:active  {
      background-color: transparent;
      color: var(--bs-navbar-active-color);
      .link-text {
        border-bottom: 2px solid $nav-link-hover-color;
      }
    }
    .nav-item {
      padding: 0.5rem 1rem;
      .nav-link {
        display: inline;
        padding: 0;
        color: $body-color;
        border-bottom: 2px solid transparent;
        &:hover {
          color: $navbar-light-active-color;
        }
        &.active {
          color: $navbar-light-active-color;
          // add a blue line under the active link
          border-bottom: 2px solid $nav-link-hover-color;
        }
      }
    }
    @include media-breakpoint-down(xl) {
      .navbar-collapse {
        ul {
          padding: 1rem 0.5rem;
        }
      }
    }

    &.reduce {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: $box-shadow-sm;
      .navbar-brand {
        img {
          height: 2.8rem;
        }
      }
    }
  }
  .second-level-nav {
    // padding-top: $main-offset;
    // border-bottom: 1px solid $gray-200;
    padding-top: 0.5rem;
    background-color: $gray;
    nav {
      margin-top: -$main-offset;
      padding-top: $main-offset;
      position: relative;
      top: $main-offset;
      background: $light;
      background-color: $gray;
      a.second-level-nav-link {
        color: $navbar-light-color;
        text-decoration: none;
        &:hover {
          color: $navbar-light-hover-color;
        }

        &.active {
          border-bottom: 2px solid $nav-link-hover-color;
          color: $navbar-light-active-color;
        }
      }

    }
    &.reduce {
      // border-bottom-color: transparent;
      // transition: border-bottom-color 0.3s;
      nav {
        // opacity: 0;
        // transition: opacity 0.3s;
        // background-color: white;
        // transition: background-color 0.3s;
        a.second-level-nav-link {
          // opacity: 0;
          // transition: opacity 0.3s;
        }
      }
    }
  }
}