/**
 * Author: Stefan Haack (https://shaack.com)
 * Date: 2024-07-23
 */

header {
  nav.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s;
    .navbar-brand {
      img {
        height: 4rem;
        transition: height 0.3s;
      }
    }
    .nav-item {
      padding: 0.5rem 1rem;
      .nav-link {
        display: inline;
        padding: 0;
        color: $body-color;
        border-bottom: 2px solid transparent;
        &:hover {
          color: $nav-link-hover-color;
        }
        &.active {
          color: $nav-link-hover-color;
          // add a blue line under the active link
          border-bottom: 2px solid $nav-link-hover-color;
        }
      }
    }
    .navbar-collapse {
      justify-content: end;
    }
    @include media-breakpoint-down(xl) {
      .navbar-collapse {
        ul {
          padding: 1rem 0.5rem;
        }
      }
    }

    &.reduce {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      .navbar-brand {
        img {
          height: 2.8rem;
        }
      }
    }
  }
}