.module {
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;
  background-color: white;
  &:first-child {
    padding-top: $main-offset * 2;
  }
  &:last-child {
    padding-bottom: 2.5 * $section-spacing;
  }
  &.bg-gray {
    background-color: lighten($gray-200, 1%);
  }
}

@import "../../../redaxo/data/addons/developer/modules/Hero Big Picture [1]/module-7bba0e";
@import "../../../redaxo/data/addons/developer/modules/Hero Agentur [8]/module-7bc9e6";
@import "../../../redaxo/data/addons/developer/modules/Karte [6]/module-e5c406";
@import "../../../redaxo/data/addons/developer/modules/Bildergalerie [7]/module-64bdfd";
@import "../../../redaxo/data/addons/developer/modules/Multi-Teaser [18]/module-f0cba8";
