main {
  line-height: 1.5;
}

h1 {
  font-family: $font-family-heading;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-weight: $font-weight-heading;
}

h2 {
  font-family: $font-family-heading;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: $font-weight-heading;
}
h3 {
  font-family: $font-family-heading;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: $font-weight-heading;
}
h4 {
  font-family: $font-family-heading;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: $font-weight-heading;
}
p {
  margin-bottom: 1rem;
}