/**
 * Author: Stefan Haack (https://shaack.com)
 */

// globals
$main-offset: 5rem;
$enable-css-custom-properties: true;
$section-spacing: 4rem;

// typography
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$font-family-heading: 'Inter', sans-serif;
$font-weight-heading: 700;
$headings-color: "#333";
$font-family-base: 'Open Sans', sans-serif;
$font-family-sans-serif: $font-family-base;
$font-size-base: 1.05rem;
$link-decoration: none;
$link-hover-decoration: underline;

$box-shadow-sm: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.15);

// navigation
$navbar-brand-padding-y: 0;
$navbar-nav-link-padding-x: 1rem;

// $table-border-color: #c9c9c9;
// $input-border-color: #000;
