/**
 * Author: Stefan Haack (https://shaack.com)
 * Date: 2024-07-21
 */
$body-bg: #fff;
$headings-color: $c-blue-dark;
$font-family-heading: 'Inter', sans-serif;
$font-family-base: 'Open Sans', sans-serif;
$font-family-sans-serif: $font-family-base;
$font-size-base: 1.05rem;
$nav-link-hover-color: $primary;
$navbar-brand-padding-y: 0;
$navbar-nav-link-padding-x: 1rem;

$section-spacing: 4rem;

$table-border-color: #c9c9c9;
$input-border-color: #000;